@charset "utf-8";

.body {
font-family: "Arial", sans-serif; 
margin-left: 15%; 
margin-right: 15%;
background-image:url(god.jpg);
background-attachment:fixed;
background-repeat: no-repeat;
background-position: center;
}

.titulo1 { 
color: red; 
font-family: "Arial";  
font-size:xx-large;
/*font-variant: small-caps*/ 
}

.texto{ 
font-family: "Times";  
font-size: 16px;
color: blue;
}

.codigo { 
font-family: monospace;  
font-size: 12px;
}
